


<div style="border: 1px solid; text-align: left; padding: 4%; margin: 1rem 0;
border-radius: 1rem; border-color: #bbb">
    <div>
        <strong>
            {{ comment.writer.profile.nickname }}
        </strong>
        &nbsp&nbsp&nbsp
        <span style="font-size: 12px">{{ comment.created_at }}</span>
    </div>
    <div>
        {{ comment.content }}
    </div>
    {% if comment.writer == user %}
    <div style="text-align: right">
        <a href="{% url 'commentapp:delete' pk=comment.pk %}"
           class="btn btn-danger btn-sm rounded-pill mt-2">
            댓글삭제
        </a>
    </div>
    {% endif %}
</div>