{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
    <div class="container">
        <h2><strong>트레이너 상세정보</strong></h2>
    </div>

    <div class="container">
        <div class="card mb-3">
            <img
                    src="https://mdbootstrap.com/img/new/slides/041.jpg"
                    class="card-img-top"
                    alt="..."
            />
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                    This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.
                </p>
                <!-- <p class="card-text">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </p> -->
            </div>
        </div>
    </div>

    <div class="container">
        <div
                class="d-flex align-items-center justify-content-center"
                style="height: 100px;"
        >
            <button type="button" class="btn btn-primary btn-rounded"><h5>라이브 PT 신청</h5></button>
        </div>
    </div>

    <div class="my-5"></div>
    <div class="container">
        <hr class="my-2"/>
    </div>
{% endblock %}