{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
    <div class="container mt-4 mb-4" style="text-align: center;">
        <h2><strong>트레이너 상세정보</strong></h2>
    </div>

    <div class="container">
        <div class="card mb-3">
            <img src="{{ target_trainer.img.url }}"
                 style="height: 13rem; width: 13rem; box-shadow : 2px 2px 5px #ccc; border-radius: 20rem; margin: 3rem; object-fit:contain;"
                 alt="{{ target_trainer.name }}"/>
            <div class="card-body">
                <h3 class="card-title" style="text-align: left; margin:2rem;">{{ target_trainer.name }} 트레이너 </h3>
                <p class="card-text" style="text-align: left; margin : 2rem;">
                <h4>강사 소개 : {{ target_trainer.trainer_intro }}</h4>
                </p>
                <br>
                <hr>
                <br>
                <p class="card-text">
                <div class="card" style=" text-align: center; border: 1px solid black;background-color:whitesmoke"><h3>
                    프로그램 소개</h3> <br><br>  <h4>{{ target_trainer.program_intro }}</h4></div>
                </p>
                <br>
                <hr>
                <br>
                <p class="card-text">
                <div class="card" style=" text-align: center;border: 1px solid black; background-color:white"><h3>
                    가격표</h3> <br><br>
                    <h4>{{ target_trainer.charge }}</h4></div>
                </p>
                <br>
                <hr>
                <br>
                <p class="card-text">
                <div class="card" style=" text-align: center;border: 1px solid black; background-color:white"><h3>트레이닝
                    시간</h3> <br><br>
                    <h4>{{ target_trainer.training_time }}</h4></div>
                </p>
                <br>
                <hr>
                <br>
                <p class="card-text">
                <div class="card" style=" text-align: center;border: 1px solid black; background-color:white"><h3>트레이너
                    경력</h3> <br><br>
                    <h4>{{ target_trainer.career }}</h4></div>
                </p>
            </div>
        </div>
    </div>


    <div class="container">
        <form>
            {% if target_trainer.trainer == user %}
                <a href="{% url 'trainerapp:delete' pk=target_trainer.pk %}"
                   class="btn btn-danger rounded-pill col-1 row-1" style="float: right; margin: 16px;">
                    Delete
                </a>
                <a href="{% url 'trainerapp:update' pk=target_trainer.pk %}"
                   class="btn btn-primary rounded-pill col-1 row-1" style="float: right; margin: 16px;">
                    Update
                </a>
            {% endif %}
        </form>
        <div class="align-items-center justify-center"
             style="height: 100px;">
            {% if user.is_authenticated %}
                <a href="#"
                   class="btn btn-primary btn-rounded" style="float: left; margin: 16px;">
                    <h5>트레이너 등록</h5>
                </a>

                <a href="{% url 'trainerapp:board' pk=target_trainer.pk %}"
                   class="btn btn-primary btn-rounded" style="float: left; margin: 16px;">
                    <h5>문의하기</h5>
                </a>
            {% endif %}
        </div>
    </div>

    <div class="my-5"></div>
    <div class="container">
        <hr class="my-2"/>
    </div>
{% endblock %}