.HP_font{
    margin-top: 1rem;
    font-family: 'Concert One', cursive;
}
.HP_header{
    text-align: center;
    margin: 2rem 0;
}
.HP_footer{
    text-align: center;
    margin-top: 2rem;
}
.HP_footer_button{
    font-size: .9rem;
}
.HP_header_nav{
    margin: 2rem
}
.HP_header_navbar{
    margin: 1rem 0;
}

@media screen and (max-width: 500px){
    html{
        font-size: 13px;
    }
}
a {
   color : black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}