<footer class="footer bg-black" style="font-family: 'Jua', sans-serif;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 h-100 text-md-left text-lg-start my-auto">
                ABOUT
                <br>
                2021-2학기 졸업프로젝트 작품
                <br>
                팀명 : 코딩하는 헬린이
                <br>
                사용한 기술스택 : Django, Javascript, CSS, Nginx, Gunicorn,
                <br>
                AWS, Docker, Bootstrap ...
            </div>
            <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                MEMBERS
                <br>
                팀장 : 심예원
                <br>
                팀원 : 문지환
                <br>
                팀원 : 오예지
                <br>
                팀원 : 신윤철
            </div>
        </div>
    </div>
</footer>