    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <!-- Container wrapper -->
      <div class="container">
        <!-- Navbar brand -->
        <a class="navbar-brand me-2" href="#">
          <img
            src="src/static/logo/hp.png"
            height="16"
            alt=""
            loading="lazy"
            style="margin-top: -1px"
            width="60"
          />
        </a>

        <!-- Toggle button -->
        <button
          class="navbar-toggler"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#navbarButtonsExample"
          aria-controls="navbarButtonsExample"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarButtonsExample">
          <!-- Left links -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#">
                <!-- link something -->
              </a>
            </li>
          </ul>

          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'boardapp:list' %}">Q&A </a>
            </li>
          </ul>

          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'trainerapp:list' %}">트레이너 </a>
            </li>
          </ul>

          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#">헬스정보 </a>
            </li>
          </ul>
          {% if user.is_authenticated %}
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  마이페이지
                </a>
              </li>
            </ul>
            <!-- Left links -->
          {% else %}
            <div class="d-flex align-items-center">
              <button
                id="login"
                type="button"
                class="btn btn-link px-3 me-2"
                data-mdb-toggle="modal"
                data-mdb-target="#trainer_detail_1"
              >
                Login
              </button>
              <button id="signUp" type="button" class="btn btn-primary me-3">Sign up</button>
          {% endif %}
          <script>
            var a = document.getElementById("signUp");
            var b = document.getElementById("login"); 
            a.onclick = () => {
                location.href("{% url 'accountapp:agreement' %}");
            }
            b.onclick = () => {
                location.href("{% url 'accountapp:login' %}?next={{ request.path }}")
            }
        </script>
            <!-- <a
                        class="btn btn-dark px-3"
                        href="https://github.com/mdbootstrap/mdb-ui-kit"
                        role="button"
                        ><i class="fab fa-github"></i
                        ></a> -->
          </div>
        </div>
        <!-- Collapsible wrapper -->
      </div>
      <!-- Container wrapper -->
    </nav>

<div style="font-family: 'Jua', sans-serif; text-align: center; margin: 1rem 0;">
    <div>
        <a href="{% url 'home' %}" style="text-decoration: none; color: black">
            <h1 class="HP_font">Health Partner</h1>
        </a>
    </div>
</div>