<div style="font-family: 'Jua', sans-serif; margin-top:2rem; background-color: aliceblue">
    <div style="text-align: center; margin: 1rem 0;">
        <div>
            <a href="{% url 'home' %}" style="text-decoration: none; color: black">
                <h1 class="HP_font">Health Partner</h1>
            </a>
        </div>
    </div>
    <div style="margin: 2rem; text-align: center">
            <a href="{% url 'boardapp:list' %}" style="margin: 0.7rem"><span>Q&A</span></a>
            <a href="{% url 'trainerapp:list' %}" style="margin: 0.7rem"><span>트레이너</span></a>
            <a href="#" style="margin: 0.15rem"><span>헬스정보</span></a>
            {% if not user.is_authenticated %}
                <a href="{% url 'accountapp:login' %}?next={{ request.path }}" style="margin: 0.7rem">
                       request.path는 요청받은 경로를 의미하며 쉽게 말하면 login후 해당 url을 누른 페이지로 돌아간다는 말이다.
                    <span>로그인</span>
                </a>
                <a href="{% url 'accountapp:agreement' %}" style="margin: 0.7rem">
                    <span>회원가입</span>
                </a>
            {% else %}
                <a href="{% url 'accountapp:mypage' pk=user.pk %}" style="margin: 0.7rem">
                    <span>마이페이지</span>
                </a>
                <a href="{% url 'accountapp:logout' %}?next={{ request.path }}" style="margin: 0.7rem">
                    <span>로그아웃</span>
                </a>
            {% endif %}
    </div>

</div>


{#<div style="font-family: 'Jua', sans-serif; margin-top:1.5rem">#}
{#    <nav class="navbar navbar-white static-top" style="background-color: aliceblue">#}
{#        <div class="container">#}
{#            <div class="navbar-brand" style="font-size: 1rem">#}
{#                <a href="{% url 'boardapp:list' %}" style="margin: 0.15rem"><span>Q&A</span></a>#}
{#                <a href="{% url 'trainerapp:list' %}" style="margin: 0.15rem"><span>트레이너</span></a>#}
{#                <a href="#" style="margin: 0.15rem"><span>헬스정보</span></a>#}
{#            </div>#}
{#            <div class="navbar-brand" style="font-size: 1rem">#}
{#                {% if not user.is_authenticated %}#}
{#                    <a href="{% url 'accountapp:login' %}?next={{ request.path }}" style="margin: 0.15rem">#}
                        {#   request.path는 요청받은 경로를 의미하며 쉽게 말하면 login후 해당 url을 누른 페이지로 돌아간다는 말이다. #}
{#                        <span>로그인</span>#}
{#                    </a>#}
{#                    <a href="{% url 'accountapp:agreement' %}" style="margin: 0.15rem">#}
{#                        <span>회원가입</span>#}
{#                    </a>#}
{#                {% else %}#}
{#                    <a href="{% url 'accountapp:mypage' pk=user.pk %}" style="margin: 0.15rem">#}
{#                        <span>마이페이지</span>#}
{#                    </a>#}
{#                    <a href="{% url 'accountapp:logout' %}?next={{ request.path }}" style="margin: 0.15rem">#}
{#                        <span>로그아웃</span>#}
{#                    </a>#}
{#                {% endif %}#}
{#            </div>#}
{#        </div>#}
{#    </nav>#}
{#</div>#}
{##}
{#<div style="font-family: 'Jua', sans-serif; text-align: center; margin: 1rem 0;">#}
{#    <div>#}
{#        <a href="{% url 'home' %}" style="text-decoration: none; color: black">#}
{#            <h1 class="HP_font">Health Partner</h1>#}
{#        </a>#}
{#    </div>#}
{#</div>#}