{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
    <div class="my-5"></div>

        <!-- heading -->
    <div class="container" style="text-align: center">
      <h2><strong>전문 트레이너</strong>와 함께 <strong>홈트레이닝</strong> 해보세요!</h2>
    </div>
    <div class="my-4"></div>

    <!-- Cards -->
        <!-- cards -->
    <div class="container" style="max-width: 890px; text-align: center">
      <div class="row row-cols-1 row-cols-md-3 g-4">

        <div class="col">
          <div class="card h-100">
            <div
              class="bg-image hover-overlay ripple"
              data-mdb-ripple-color="light"
            >
              <img
                src="https://mdbootstrap.com/img/new/standard/city/041.jpg"
                class="card-img-top"
                alt="..."
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.15)"
                ></div>
              </a>
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  This is a longer card with supporting text below as a natural
                  lead-in to additional content. This content is a little bit
                  longer.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100">
            <div
              class="bg-image hover-overlay ripple"
              data-mdb-ripple-color="light"
            >
              <img
                src="https://mdbootstrap.com/img/new/standard/city/042.jpg"
                class="card-img-top"
                alt="..."
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.15)"
                ></div>
              </a>
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  This is a longer card with supporting text below as a natural
                  lead-in to additional content. This content is a little bit
                  longer.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100">
            <div
              class="bg-image hover-overlay ripple"
              data-mdb-ripple-color="light"
            >
              <img
                src="https://mdbootstrap.com/img/new/standard/city/043.jpg"
                class="card-img-top"
                alt="..."
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.15)"
                ></div>
              </a>
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  This is a longer card with supporting text below as a natural
                  lead-in to additional content. This content is a little bit
                  longer.
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="container">
      <hr class="my-5">
    </div>

    <!-- heading -->
    <div class="container" style="text-align: center">
      <h2><strong>헬스</strong> 관련 <strong>최신 트렌드</strong>를 확인하세요!</h2>
    </div>
    <div class="my-4"></div>

    <!-- Cards -->
    <div class="container" style="text-align: center">
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                <div class="card">
                  <!-- content here -->
                  <img src="http://wordcloud.kr/d/img/2020/05/15904939957231930.png" alt="" class="src">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                  <img src="http://wordcloud.kr/d/img/2020/05/15904939957231930.png" alt="" class="src">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
      <hr class="my-5">
    </div>

    <!-- heading -->
    <div class="container" style="text-align: center">
      <h2><strong>추천 영상</strong></h2>
    </div>
    <div class="my-4"></div>

    <!-- Cards -->
    <div class="container" style="text-align: center">
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                <div class="card">
                    <iframe height="300" src="https://www.youtube.com/embed/i7oF3ahx-fk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <iframe height="300" src="https://www.youtube.com/embed/i7oF3ahx-fk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </div>

        </div>
    </div>



    <div class="my-5"></div>
    <div class="container">
      <hr class="my-2" />
    </div>
{% endblock %}