{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
    <div class="my-5"></div>

        <!-- heading -->
    <div class="container" style="text-align: center">
      <h2><strong>전문 트레이너</strong>와 함께 <strong>홈트레이닝</strong> 해보세요!</h2>
    </div>
    <div class="my-4"></div>

    <!-- Cards -->
        <!-- cards -->
    <div class="container" style="max-width: 890px; text-align: center">
      <div class="row row-cols-1 row-cols-md-3 g-4">

        <div class="col">
          <div class="card h-100">
            <div
              class="bg-image hover-overlay ripple"
              data-mdb-ripple-color="light"
            >
              <img
                src="media/trainer/김종국.jpg"
                class="card-img-top"
                alt="..."
              />
              <a href="{% url 'trainerapp:list' %}">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.15)"
                ></div>
              </a>
              <div class="card-body">
                <p class="card-text">
                  클릭시 뛰어난 트레이너들을 <br>만나 볼 수 있습니다!
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100">
            <div
              class="bg-image hover-overlay ripple"
              data-mdb-ripple-color="light"
            >
              <img
                src="media/trainer/김계란.jpg"
                class="card-img-top"
                alt="..."
              />
              <a href="{% url 'trainerapp:list' %}">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.15)"
                ></div>
              </a>
              <div class="card-body">
                <p class="card-text">
                  클릭시 뛰어난 트레이너들을 <br>만나 볼 수 있습니다!
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100">
            <div
              class="bg-image hover-overlay ripple"
              data-mdb-ripple-color="light"
            >
              <img
                src="media/trainer/조준.jpg"
                class="card-img-top"
                alt="..."
              />
              <a href="{% url 'trainerapp:list' %}">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.15)"
                ></div>
              </a>
              <div class="card-body">
                <p class="card-text">
                  클릭시 뛰어난 트레이너들을 <br>만나 볼 수 있습니다!
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="container">
      <hr class="my-5">
    </div>

    <!-- heading -->
    <div class="container" style="text-align: center">
      <h2><strong>헬스</strong> 관련 <strong>최신 트렌드</strong>를 확인하세요!</h2>
    </div>
    <div class="my-4"></div>

    <!-- Cards -->
    <div class="container" style="text-align: center">
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                <div class="card">
                  <!-- content here -->
                  <img src="static/img/word_cloud1.png" alt="" class="src">
                    <div class="card-body">
                        <h5 class="card-title">Word Cloud</h5>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                  <img src="static/img/word_cloud2.png" alt="" class="src">
                    <div class="card-body">
                        <h5 class="card-title">분석 그래프</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
      <hr class="my-5">
    </div>

    <!-- heading -->
    <div class="container" style="text-align: center">
      <h2><strong>추천 영상</strong></h2>
    </div>
    <div class="my-4"></div>

    <!-- Cards -->
    <div class="container" style="text-align: center">
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                <div class="card">
                    <iframe height="300" src="https://www.youtube.com/embed/iOSYLKBk894" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <div class="card-body">
                        <h5 class="card-title">저희 사이트의 추천 영상을 확인하세요 !</h5>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <iframe height="300" src="https://www.youtube.com/embed/7NPwSCjqka0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <div class="card-body">
                        <h5 class="card-title">저희 사이트의 추천 영상을 확인하세요 !</h5>
                    </div>
                </div>
            </div>

        </div>
    </div>



    <div class="my-5"></div>
    <div class="container">
      <hr class="my-2" />
    </div>
{% endblock %}